.text {
    font-size: 32px;
    text-transform: uppercase;
    fill: none;
    stroke-width: 1px;
    stroke-dasharray: 90 310;
    animation: dash 6s infinite linear;
}

.text-1 {
    stroke: #19fb05;
    text-shadow: 0 0 1px #defd00;
    animation-delay: -1.5s;
}

.text-2 {
    stroke: #08abf3;
    text-shadow: 0 0 1px #f79a07;
    animation-delay: -3s;
}

.text-3 {
    stroke: #cb00f5;
    text-shadow: 0 0 1px #fd0981;
    animation-delay: -4.5s;
}

.text-4 {
    stroke: #00f0f7;
    text-shadow: 0 0 1px #efe10a;
    animation-delay: -6s;
}

@keyframes dash {
    100% {
        stroke-dashoffset: -400;
    }
}