

 .kankore-bath {
    background: url(https://gcore.jsdelivr.net/gh/luolishe/Joe-king/themes/footer/Shipadrift/piao/wave-bai.webp) 0 0 repeat-x;
    height: 3px;
    width: 100%;
    position: fixed; 
    left: 0;
    background-size: 10px 3px;
    z-index: 98;
    bottom: 40px;
    transition: bottom .35s;
    -webkit-animation: waves-r2l 30s linear infinite;
    -moz-animation: waves-r2l 30s linear infinite;
    -ms-animation: waves-r2l 30s linear infinite;
    -o-animation: waves-r2l 30s linear infinite;
    animation: waves-r2l 30s linear infinite;
} 





/*
.kankore-bath .water {
    height: 50px;
    background: url(https://joe.dorcandy.cn/000pages/tupian/wave.webp) repeat-x bottom;
    z-index: 105;
    position: fixed;
    bottom: -1px;
    width: 100%;
    opacity: .8;
    left: 0;
    -webkit-animation: waves-r2l 10s linear infinite;
    -moz-animation: waves-r2l 10s linear infinite;
    -ms-animation: waves-r2l 10s linear infinite;
    -o-animation: waves-r2l 10s linear infinite;
    animation: waves-r2l 10s linear infinite
}
*/

.kankore-bath .kan {
    cursor: pointer;
    position: fixed;
    top: 999px;
    left: -20px;
    display: none;
    z-index: 99
}

.kankore-bath .kan.floating {
    -webkit-transition: left 1s linear, top 1s linear, -webkit-transform 1.5s ease !important;
    -moz-transition: left 1s linear, top 1s linear, -moz-transform 1.5s ease !important;
    -ms-transition: left 1s linear, top 1s linear, -ms-transform 1.5s ease !important;
    -o-transition: left 1s linear, top 1s linear, -o-transform 1.5s ease !important;
    transition: left 1s linear, top 1s linear, transform 1.5s ease !important
}

.kankore-bath .kan.dragging {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-animation: kan-swing .8s linear infinite;
    -moz-animation: kan-swing .8s linear infinite;
    -ms-animation: kan-swing .8s linear infinite;
    -o-animation: kan-swing .8s linear infinite;
    animation: kan-swing .8s linear infinite;
}



.kankore-bath .kan.dropping {
    -webkit-transition: top .8s cubic-bezier(.795, .21, .535, 1.235) !important;
    -moz-transition: top .8s cubic-bezier(.795, .21, .535, 1.235) !important;
    -ms-transition: top .8s cubic-bezier(.795, .21, .535, 1.235) !important;
    -o-transition: top .8s cubic-bezier(.795, .21, .535, 1.235) !important;
    transition: top .8s cubic-bezier(.795, .21, .535, 1.235) !important;
}

.kankore-bath .kan img {
    opacity: 1 !important;
    outline: none;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

@-webkit-keyframes waves-r2l {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: -552px 0
    }
}

@keyframes waves-r2l {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: -552px 0
    }
}

@-webkit-keyframes waves-l2r {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 552px 0
    }
}

@keyframes waves-l2r {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 552px 0
    }
}


#footlogo {
    width: 300px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    z-index: 99;
    transition: bottom .35s;
}




.footwaveline {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 97;
    transition: bottom .35s;
    box-shadow: 0 -10px 10px rgba(0,0,0,.1);
}


.joe_header__below-logon {
    margin-right: 15px;
    margin-left: auto;
    color: var(--minor);
    display: inline-flex;
}

.joe_header__below-logon .item {
    color: var(--minor);
    height: 45px;
    line-height: 45px;
    transition: color .35s;
    white-space: nowrap;
}
.newiconfont {
    font-family: "newiconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.joe_header__below-logon .item:hover {
    color: var(--theme);
}

/* 舰娘选中元素鼠标样式 */

.wrapper .icon{
    margin-top: 13px;

   position: relative;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   cursor: url(https://gcore.jsdelivr.net/gh/luolishe/Joe-king/themes/footer/Shipadrift/cursor/pointer.cur),pointer;
   transition: all .2s cubic-bezier(.68,-.55,.265,1.55);

}

.joe_header__below-logon .item{

   cursor: url(https://gcore.jsdelivr.net/gh/luolishe/Joe-king/themes/footer/Shipadrift/cursor/pointer.cur),pointer;
  
}

/* <!--网页模块实现电脑端显示(隐藏)手机端隐藏(显示)--> */
/*电脑端显示，手机端隐藏，以下是CSS样式，HTML引用即可*/
.hanghai{
	display: block;
	}
@media (max-width: 768px){
    .hanghai{
        display: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        
    }}
/*
手机端显示，电脑端隐藏，以下是CSS样式，HTML引用即可：
.sjbdmap{
	display: none;
}
@media (max-width: 768px){
.sjbdmap{
display: block !important;
    
}}

*/






/*
        .content{width:80%;margin:200px auto;}
                .hide_box{z-index:999;filter:alpha(opacity=50);background:#666;opacity: 0.5;-moz-opacity: 0.5;left:0;top:0;height:99%;width:100%;position:fixed;display:none;}
        .shang_box{width:540px;height:540px;padding:10px;background-color:#fff;border-radius:10px;position:fixed;z-index:1000;left:50%;top:50%;margin-left:-280px;margin-top:-280px;border:1px dotted #dedede;display:none;}
        .shang_box img{border:none;border-width:0;margin-top: 32px;}
        */
        /*
        .dashang{display:block;width:100px;margin:5px auto;height:25px;line-height:25px;padding:10px;background-color:#E74851;color:#fff;text-align:center;text-decoration:none;border-radius:10px;font-weight:bold;font-size:16px;transition: all 0.3s;}
        */
        /*
        .dashang:hover{opacity:0.8;padding:15px;font-size:18px;}
        .shang_close{float:right;display:inline-block;}
        */
        /*
         .shang_logo{display:block;text-align:center;margin:20px auto;}
           */  
      /*       
        .shang_logo {
    display: block;
    text-align: center;
    margin: 20px auto;
    width: auto;
    height: auto;
    max-width: 50%;
}

        .shang_tit{width: 100%;height: 75px;text-align: center;line-height: 66px;color: #a3a3a3;font-size: 16px;background: url('img/cy-reward-title-bg.jpg');font-family: 'Microsoft YaHei';margin-top: 7px;margin-right:2px;}
        .shang_tit p{color:#a3a3a3;text-align:center;font-size:16px;}
        .shang_payimg{width:140px;padding:10px;border:6px solid #EA5F00;margin:0 auto;border-radius:3px;height:140px;}
        .shang_payimg img{display:block;text-align:center;width:140px;height:140px; }
        .pay_explain{text-align:center;margin:10px auto;font-size:12px;color:#545454;}
        .radiobox{width: 16px;height: 16px;background: url('img/radio2.jpg');display: block;float: left;margin-top: 5px;margin-right: 14px;}
        .checked .radiobox{background:url('img/radio1.jpg');}
        .shang_payselect{text-align:center;margin:0 auto;margin-top:40px;cursor:pointer;height:60px;width:280px;}
        .shang_payselect .pay_item{display:inline-block;margin-right:10px;float:left;}
        .shang_info{clear:both;}
		.shang_info p,.shang_info a{color:#C3C3C3;text-align:center;font-size:12px;text-decoration:none;line-height:2em;}

.dashang {
    display: block;
    width: 100px;
    margin: 8px auto;
    height: 25px;
    line-height: 8px;
    padding: 10px;
    background-color: #E74851;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s;
}
*/

/* html {
    cursor: url(https://joe.dorcandy.cn/ziyuan/files/normal.cur),default;
} */





