/*padding控制元素所有四条边的内边距区域/min-height控制元素的最小高度*/
.reading-box{
padding:10px 15px;
min-height:20px;
}
 /*底部外边距*/
.readthem-box{
margin-bottom:20px;
}
/*元素的外边框圆角*/
.readradius8{
border-radius:var(--main-radius);
} 
/*控制元素的框架上添加阴影效果*/
.readmain-shadow{
box-shadow: 0 0 10px var(--main-shadow);
}
/*控制动画速度的方法*/
.readmain-shadow{
transition:box-shadow.3s;
}
/*文字居中显示 注释掉为靠左显示*/
.readtext-center{
/*text-align: center;*/
}

.joe-king{
animation: light 4s ease-in-out infinite; 
transition: 0.5s;}@keyframes light{0%{box-shadow: 0 0 4px #f00;} 25%{box-shadow: 0 0 16px #0f0;} 50%{box-shadow: 0 0 4px #00f;} 75%{box-shadow: 0 0 16px #0f0;} 100%{box-shadow: 0 0 4px #f00;}}
